.meettheteam{
    background-color: #091416;
    display: flex;
    color: white;
    font-family: 'orbitron', sans-serif;
    gap: 40px;
    padding: 4rem;
}
.leftnote{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.headnote{
    font-weight: 100;
}
span{
    color: #04FF00;
}
.images{
    display: grid;
}