.team-section {
  background-color: #091416;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'orbitron', sans-serif;
}

/* CEO Container */
.ceo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem; /* 24px */
  padding: 5rem 0;
  z-index: 0;
}

@media (min-width: 768px) {
  .ceo-container {
    flex-wrap: nowrap;
    padding-left: 3rem;
    padding-right: 3rem;
    gap: 3rem; /* 48px */
  }
}

.ceo-image-wrapper {
  z-index: 20;
}

.ceo-image {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  object-fit: cover;
}

.ceo-text-wrapper {
  max-width: 440px;
}

.ceo-quote {
  color: #ffffff;
  font-weight: 600;
  font-size: 0.875rem;
  text-align: center;
  padding: 0 2rem;
  margin-bottom: 1.5rem;
  font-family: 'orbitron', sans-serif;
 
}

@media (min-width: 1024px) {
  .ceo-quote {
    text-align: left;
    padding-left: 0;
    padding-right: 0;
  }
}

.ceo-details {
  text-align: center;
}

@media (min-width: 1024px) {
  .ceo-details {
    text-align: left;
  }
}

.ceo-name {
  color: #04ff00;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.ceo-title {
  margin: 0;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.875rem;
}
